<div class="main">
    <% page.posts.forEach(post => { %>
        <section>
            <div class="title">
                <a href="<%- url_for(post.path) %>">
                    <i class="fa fa-home"></i>
                    <%- post.title %>
                </a>
            </div>
            <p>
                <div class="post">
                    <%- post.excerpt %>

                </div>
                <time>
                    <%- formatDate(post.updated) %>
                </time>
            </p>
        </section>
        <% })%>
</div>

<% function formatDate(time) { %>
    <% const date = new Date(time);  %>
        <% const yy = date.getFullYear();  %>
            <% const MM = addZero(date.getMonth() + 1);  %>
                <% const dd = addZero(date.getDate()); %>
                    <% const hh = addZero(date.getHours()); %>
                        <% const mm = addZero(date.getMinutes()); %>
                            <% return `${yy}-${MM}-${dd} ${hh}:${mm}` %>
                                <% } %>
                                    <% function addZero(value) { %>
                                        <% return value < 10 ? '0' + value : value; %>
                                            <% } %>