<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body>
        <%- partial('_partial/nav') %>
        <%- body %>
    </body>
<% console.log('site.pages: ', site.pages) %>
<% console.log('site.posts: ', site.posts) %>
</html>