<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body>
        <%- partial('_partial/nav') %>
            <%- body %>
    </body>
    <% if(page.posts && page.posts.length > 0) { %>
        <%- js('js/recent_post') %>
            <% } %>

</html>