html {
    background: yellow;
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 60px 20px 0 20px;
    background: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 6px rgba($color: #333, $alpha: 0.3);
    .contant {
        width: 1140px;
        height: $nav-height;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: center;
        ul {
            display: inline-block;
            line-height: $nav-height;
            @include clearfix;
            li {
                position: relative;
                float: left;
                margin-left: 16px;
                .light-line {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: rgba($color: #3b56ce, $alpha: 1.0);
                }
            }
            li.active {
                .light-line {
                    display: block;
                }
            }
        }
    }
}