html {
    background: $bg-color-weak;
    position: relative;
}

body {
    width: 1000px;
    margin: 70px auto 10px auto;
    padding: 4px 20px;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    // background: url(../img/bg.jpg);
    // background-size: cover;
    // opacity: 0.2;
}

.home {
    position: relative;
    .block-name {
        letter-spacing: 20px;
        font-size: 28px;
        padding: 30px 0;
        text-align: center;
    }
}