// decoration
$base-radius:8px;
$base-padding: 20px;
// color
$bg-base-color:rgb(255, 255, 255);
$bg-weak-color:rgb(241, 241, 241);
$font-base-color:rgb(51, 51, 51);
$font-weak-color:rgb(121, 121, 121);
$active-color:rgb(58, 85, 204);
$box-showdow-color:rgba($color: #333, $alpha: 0.1);
// nav
$nav-height:60px;