<nav>
    <ul>
        <% for(const key in theme.menu) { %>
            <li>
                <a href="<%- theme.menu[key] %>">
                    <%- __('Menu.' + key) %>
                </a>
            </li>
        <% } %>
    </ul>
</nav>